<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="gradetracker\src\css\allsections.css">
  <title>All Sections</title>
</head>

<body>
  <h1>All Sections</h1>

  <% if (sections.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Section Name</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <% sections.forEach((section) => { %>
          <tr>
            <td><%= section.name %></td>
            <td>
              <a href="/api/edit-section/<%= section._id %>" class="action-btn">Edit</a>
              <br>
              <br>
              <form id="deleteForm" method="POST" action="/api/delete-section/<%= section._id %>" onsubmit="return confirmDelete()">
                <button type="submit" class="dlt_btn">Delete</button>
              </form>
            
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No sections found.</p>
  <% } %>

  <script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete?');
    }
  
    // Attach an event listener to the form submission
    document.getElementById('deleteForm').addEventListener('submit', function (event) {
      if (!confirmDelete()) {
        // If the user clicks "Cancel," prevent the form submission
        event.preventDefault();
      } else {
        // If the user clicks "OK," reload the page after a short delay
        setTimeout(function () {
          location.reload();
        }, 100);
      }
    });
  
  </script>
</body>

</html>
