<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="gradetracker\src\css\allsubjects.css">
  <title>Subject List</title>
  <style>
   
  </style>
</head>

<body>
  <h2>Subject List</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Subject Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <% if (subjects && subjects.length > 0) { %>
      <tbody>
        <% subjects.forEach(function(subject) { %>
          <tr>
            <td><%= subject.subjectname %></td>
            <td><%= subject.description %></td>
            <td>
              <a href="/api/edit-subject/<%= subject._id %>" class="edt_btn">Edit</a>
              <br>
              <br>
              <form id="deleteForm" method="POST" action="/api/delete-subject/<%= subject._id %>" onsubmit="return confirmDelete()">
                <button type="submit" class="action-btn">Delete</button>
              </form>
            </td>
            </tr>
        <% }); %>
      </tbody>
    <% } else { %>
      <p>No subjects available</p>
    <% } %>
  </table>

  <script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete?');
    }
  
    // Attach an event listener to the form submission
    document.getElementById('deleteForm').addEventListener('submit', function (event) {
      if (!confirmDelete()) {
        // If the user clicks "Cancel," prevent the form submission
        event.preventDefault();
      } else {
        // If the user clicks "OK," reload the page after a short delay
        setTimeout(function () {
          location.reload();
        }, 100);
      }
    });
  
  </script>
</body>

</html>
