@media only screen and (max-width: 600px) {
    .navbar {
            flex-direction: column;
            align-items: center;
                text-align: center;
    }
    
    .nav_stud_name {
             margin-left: 0;
    }
    
    .pic_user_nav {
            margin-left: 0;
    }
    
    .grades,
    .options,
    .weather-container,
    .dictionary,
    .quote-box {
            margin: 1px;
            padding: 10px;
            width: auto;
            }
    
    .user {
            margin: 10px;
            padding: 10px;
            }
    
            .stud_map {
                width: auto;
                margin: 10px;
            }
    
            
        }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
  /* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
  
  /* Close button style */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content {
    text-align: left;
    margin-left: 270px;
    color:  #fff ;
}
  
.content > img {
    border-radius: 50%; 
    margin-left: 19px;
    height: 200px;
    width: 200px;
    object-fit: cover; 
    object-position: center;
   
}
  
  /* EJS NAV CSS*/
.nav_stud_name{
    font-size: 13px;
    margin: 0px;
    margin-left: 80px;
    text-decoration: none;
    color: #fff;
    width: 100%;
}
  
.welcome{
    font-size: 30px;
  
}
  
.pic_user_nav{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 0px;
    margin-left: 900px;
    cursor: pointer;

}
  
  table {
    width: 600px;
    height: 350px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
}
  
  
.weather-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    top: -140px;
}
   
.weather-icon {
    font-size: 48px;
    margin-bottom: 10px;
}
   
.weather-description {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
   
.temperature {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.edit{
  
    display: inline-block;
    padding: 4px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  
}

.delete-container {
    display: flex;
    justify-content: flex-end; 
}
  
.delete {
    padding: 4px 8px;
    background-color: #e21414;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -410px; 
}

.center{
    justify-content: center;
    align-items: center;
    margin-left: 400px;
  
}

.center1{
    justify-content: center;
    align-items: center;
    margin-left: 300px;
  
}

.teacher-name{
  
    margin-left:-200px; 
}

.section-name{
  
    margin-left: -120px;
       
}

.chat{
    margin-left: 463px;
    margin-top: -20px;
}

.buttonside{
     display: inline-block;
    padding: 5px 8px;
    max-width: 60%;
    background-color: #00808080;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
     align-items: center;
    margin-left: 50px;
    text-align: center;
}
         
.buttonside:hover{
 font-size: 18px; 
}

.line{
  
    height: 550px;
    width:  730px;
    background-color:#7ABABA;
    z-index: 1;
    margin-left: -259px;
         
  
}

.modaltext{
  
    text-align:left;
    margin-left: 270px;
    align-items: center;
    justify-content: center;
}

.modaltext strong {
    display: inline-block;
    width: 150px;
    margin-left: -60px; 
}

.modaltext {
    padding-left: 20px; 
      }

body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

    /* Add responsive styles here */

.grades{

    margin-left: 50px;
    margin-top: 100px;

}

.options{

    margin-left: 50px;
    margin-top: 350px;

    }

.weather-container {
    
    height: 250px;
    width: 300px;
    justify-content: center;
    margin-left: 950px;
    margin-top: -200px;
    text-align: center;
    position: relative;        
}

.weather-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.weather-description {

    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    
}

.temperature {
font-size: 24px;
font-weight: bold;
color: #007bff;

}

/* EJS NAV CSS*/
.nav_stud_name{
font-size: 14px;
margin: 0px;
margin-left: 80px;
text-decoration: none;
color: #fff;
width: 100%;
}

.welcome{
font-size: 30px;

}

.pic_user_nav{
border-radius: 100%;
height: 50px;
width: 50px;
margin: 0px;
margin-left: 900px;
cursor: pointer;
}

/*API GOOGLE MAP API CSS*/

.stud_map{
width: 500px;
height: 300px;

margin-left: 800px;
margin-top: -100px;
position: relative;
}

/*quote api css*/
.dictionary{

width: 300px;
height: 200px;
margin-left: 980px;
margin-top: -550px;

}






/*User page css*/
.user{
width: 350px;
margin: 20px;
margin-left: 500px;
border-radius: 4px;
padding-bottom: 20px;
background:
rgba(0, 128, 128, 0.5);
}
.gradient{
background-image: linear-gradient(#91baff #205fff);
height: 125px;
border-radius: 4px 4px 0px 0px;

}
.profile-down img{
height: 150px;
border-radius: 100px;
margin-top: 60px;
margin-left: 95px;
padding: 5px;
background: #fff;
}
.profile-title{
font-size: 30px;
font-weight: 600;
font-family: "Lato", sans-serif;
margin-left: 130px;
margin-top: 15px;
}
.profile-description{
padding: 20px 20px;
font-size: 16px;
font-weight: 600;

}
.user-id,
.name,
.user-age,
.user-address,
.user-sex,
.user-contact,
.user-email{
margin: 5px;
font-family: "Lato", sans-serif;
}

/*students nga css*/
/*html,
body {
height: 100%;
}
body {
margin: 0;
background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
background: linear-gradient(45deg, #49a09d, #5f2c82);
font-family: sans-serif;
font-weight: 100;
}*/
body{
background-color: #f5f5f5;
}

table {
width: 600px;
height: 350px;
border-collapse: collapse;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
position: absolute;
}
th,
td {
padding: 15px;
background-color: rgba(255, 255, 255, 0.2);
color:  #000;

}
th {
text-align: left;
}
td {
text-align: center;
}
thead th {
background-color: rgba(0, 128, 128, 0.5);
}
tbody tr:hover {
background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
position: relative;
height: 12px;
width: 20px;
}
tbody td:hover:before {
content: "";
position: absolute;
left: 0;
right: 0;
top: -9999px;
bottom: -9999px;
background-color: rgba(255, 255, 255, 0.2);
z-index: -1;
}

/*CHATROOM CSS*/

.chatroom{
    margin: 0;
    margin-left: 52px;
}